.chat-input {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 806px;
  padding: 20px;

  &__wrapper {
    display: flex;
    width: 100%;
  }

  &__smile-btn {
    display: flex;
    align-items: center;
    margin-right: 15px;

    span.anticon:hover {
      opacity: 1;
    }
  }

  &__record-status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    i {
      display: inline-block;
      position: relative;
      height: 10px;
      width: 10px;
      background-color: #f56b6b;
      border-radius: 50%;
      margin-right: 10px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 10px;
        width: 10px;
        background-color: rgba(245, 107, 107, 0.5);
        border-radius: 50%;

        animation: record-animation 1s ease-in-out infinite;
      }
    }
  }

  &__attachments {
    margin-top: 10px;
    margin-left: 47px;
    width: 640px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 145px;
  }

  span.anticon {
    cursor: pointer;
    opacity: 0.5;
    font-size: 20px;
  }

  span.anticon:hover {
    opacity: 1;
  }

  &__emoji-picker {
    position: absolute;
    bottom: 60px;
    left: -320px;
    z-index: 1999;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;

    span.anticon-send {
      font-size: 22px;
    }

    &-upload-btn {
      input {
        &::-webkit-file-upload-button {
          cursor: pointer;
        }
      }
      &:hover {
        button {
          color: #202020 !important;
          opacity: 1;
        }
      }
    }
  }

  input {
    position: relative;

    &:focus {
      box-shadow: none;
    }
  }
}

@keyframes record-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
