.chat {
  height: 100vh;
  display: flex;
  background-color: #ffffff;
  width: 1140px;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04);

  &__contacts {
    width: 320px;
    border-right: 1px solid #f7f7f7;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0px 20px 20px;
    }
    .chat__contacts-search {
      padding: 0 0px 20px 20px;

      .ant-input {
        background-color: #f7f8f9;
        height: 32px;
        padding: 4px 11px 6px;
      }
    }
    &-list {
      height: calc(100% - 124px);
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  &__dialog {
    flex: 1;
    &-header {
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 20px;
      border-bottom: 1px solid #f7f7f7;

      &--centered {
        text-align: center;
      }

      &-username {
        font-weight: bold;

        display: block;
        margin-bottom: 5px;
      }
    }

    &-messages {
      height: calc(100% - 138px);

      .ant-empty {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
