@import "~styles/variables";

.message {
  $self: &;
  display: flex;
  margin-bottom: 25px;

  &__avatar {
    position: relative;
    margin-top: 25px;
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  &__bubble {
    background: $blue;
    box-shadow: 0px 5px 5px rgba(54, 166, 255, 0.2);
    border-radius: 12px 12px 12px 0px;
    padding: 15px;
    margin-bottom: 5px;
    text-align: center;
  }

  &__content {
    position: relative;
    max-width: 45%;
    #{$self}__status {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: max-content;
    }
  }

  &__attachments {
    display: flex;
    margin-bottom: 5px;
    justify-content: flex-start;
    &-item {
      margin-right: 5px;
      cursor: pointer;
      img {
        width: 45px;
        height: 45px;
        border-radius: 8px;
      }
    }

    &-item:last-child {
      margin-right: 0;
    }
  }

  &__date {
    font-size: 12px;
    opacity: 0.5;
    cursor: default;
  }

  &__text {
    color: #ffffff;
    line-height: 20px;
  }

  &--audio {
    audio {
      display: none;
    }

    #{$self}__bubble {
      position: relative;
      width: 250px;
      overflow: hidden;
      border: none;
    }
    #{$self}__audio {
      &-info {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-btn {
        button {
          cursor: pointer;
          border: 0;
          width: 28px;
          height: 28px;
          border-radius: 30px;
          background: #0f3997;
          img {
            height: 13px;
          }
        }
      }

      &-progress {
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background-color: #418fff;
        transition: width 250ms ease;
      }

      &-wave {
        svg {
          fill: #ffffff;
        }
      }

      &-duration {
        color: #ffffff;
      }
    }
  }

  &--mine {
    display: flex;
    flex-direction: row-reverse;
    color: #000000;

    #{$self}__content {
      margin-bottom: 15px;
      flex-direction: row-reverse;

      #{$self}__status {
        right: 0;

        img {
          margin-right: 5px;
        }
      }
    }

    #{$self}__avatar {
      margin-left: 10px;
      margin-right: 0;
    }

    #{$self}__info {
      text-align: right;
    }

    #{$self}__bubble {
      background: #ffffff;
      border: 1px solid #ececec;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
      border-radius: 12px 12px 0px 12px;
    }

    #{$self}__text {
      color: $black;
    }

    #{$self}__attachments {
      justify-content: flex-end;
    }

    #{$self}__audio {
      &-info {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-btn {
        button {
          cursor: pointer;
          border: 0;
          width: 28px;
          height: 28px;
          border-radius: 30px;
          background: #0f3997;
          img {
            height: 13px;
          }
        }
      }

      &-progress {
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background-color: #418fff;
        transition: width 250ms ease;
      }
      &-wave {
        svg {
          fill: #000000;
        }
      }
      &-duration {
        color: #000000;
      }
    }
  }

  &--is-typing {
    #{$self}__bubble {
      background: $message-typing-blue;
      box-shadow: 0px 5px 5px rgba(54, 116, 225, 0.04);
    }
    #{$self}__typing {
      span {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: $message-typing-circle;
        display: inline-block;
        margin-right: 8px;

        animation-name: typingAnimation;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
        animation-delay: 0.5s;

        &:last-child {
          margin: 0;
        }

        &:nth-of-type(2) {
          animation-duration: 1.5s;
          animation-delay: 1s;
        }
        &:nth-of-type(3) {
          animation-duration: 1.5s;
          animation-delay: 1.5s;
        }
      }
    }
  }
  &--image {
    #{$self}__attachments {
      &-item {
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
    #{$self}__avatar {
      top: 100px;
    }
  }

  &__action {
    width: 100%;
  }
}

@keyframes typingAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
